/**Generics**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

/**Utilities**/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-grey {
    color: rgb(210,210,210);
}

/**Header**/
#top-menu a {
    position: absolute;
    top: 20px;
    right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 20px;
}

/**Main**/
main {
    background-color: rgb(20,25,34);
    overflow: auto;
}

/**Top menu**/
#top-menu  {
    height: 80px;
    width: 100%;
    background-color: rgba(8,11,18, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

/**Logo**/
.logo {
    margin: 10px;
    width: 75%;
}

/**sidebar menu**/
#sidebar-menu {
    height: calc(100vh - 80px);
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
}

li {
    padding-left: 20px;
}

ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

/**Navigation**/
.navigation ul {
    list-style-type: none;
    padding-top: 20px;
    
}

.navigation li.active {
    padding-left: 16px;
    border-left: 4px solid rgb(173,255,47);
}

.navigation ul img {
    width: 35px;
    padding-right: 5px;
}

/**Playlist**/
.add-playlist .title {
    padding: 0px 20px 10px 20px;
    text-transform: uppercase;
    font-size: 16px;
}

.add-playlist .fa-plus {
    font-size: 30px;
    padding: 6px 8px;
    color: black;
    margin-right: 10px;
    background-color: rgb(210,210,210);
}

.playlist {
    padding-top: 10px;
    position: fixed;
    width: 220px;
    height: 300px;
    overflow-y: auto;
    line-height: 25px;
}

.playlist li {
    text-transform: capitalize;
}

/**Main content**/
#main-content {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 100px 0 10px 270px;
}

/**Footer**/


/**Controls**/
#controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(40,40,40);
}
